#!/bin/bash

export TF_VAR_aws_account_id="REPLACE_WITH_YOUR_ACCCOUNT_ID"        # e.g. "123455678"
export TF_VAR_aws_profile="REPLACE_WITH_YOUR_AWS_CLI_PROFILE_ID" # e.g. "123455678"
export TF_VAR_aws_region="eu-central-1"     # Keep or use a region closer to you
export TF_VAR_aws_az_names='["eu-central-1a","eu-central-1b", "eu-central-1c"]' # Keep or use a region closer to you

export TF_VAR_organization="REPLACE_WITH_THE_ORG_YOU_ARE_WORKING_FOR" # e.g. acme
export TF_VAR_env="REPLACE_WITH_THE_ENV_YOU_ARE_WORKING_ON"  # e.g. prod or stag

export TF_VAR_my_ip_address="REPLACE_WITH_YOUR_IP_ADDRESS" # e.g. 91.65.136.222
export TF_VAR_aws_linux_2_ami="ami-0df0e7600ad0913a9"

export TF_VAR_lambda_functions_bucket="REPLACE_WITH_AN_AVAILABLE_BUCKET_NAME_YOU_LIKE_FOR_YOUR_LAMBDA_ARTIFACTS"